body {
    background-color: #ffffff;
    color: #212121;
    font-family: avenir, ariel, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: didot;
}

h1 {
    padding-top: 20px;
    padding-right: 10px;
    margin-top: 60px;
    margin-bottom: 150px;
    text-align: right;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #212121;
    text-decoration: none;
}

h1 a {
    color: #212121;
    text-decoration: none;
}

h1 a:hover {
    color: #977942;
}

.wrapper {
    width: 2560px;
    margin: 0 auto;
}

header {
    background-color: #ffffff;
    text-align: center;
    width: 20%;
    float: left;
    min-height: 1600px;
}

header a img {
    width: 95%;
    padding-top: 670px
}

nav {
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 20px;
}

nav ul {}

nav ul li {
    line-height: 50px;
}

nav ul li a {
    color: #212121;
    text-decoration: none;
}

nav ul li a:hover {
    color: #977942;
}

main {
    min-height: 1600px;
}

.index {
    min-height: 1600px;
    background-image: url(../images/churchillhouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.thehouse {
    min-height: 1600px;
    background-image: url(../images/churchillhousetwo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: right;
    color: #977942;
    padding-right: 200px;
    font-size: 185px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    text-align: right;
    color: #ffffff;
    font-size: 36px;
    padding-top: 190px;
    padding-right: 200px;
    padding-bottom: 200px;
}

h4 {
    text-align: left;
    color: #977942;
    padding-left: 540px;
    padding-top: 260px;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main p {
    text-align: left;
    color: #ffffff;
    padding-left: 900px;
    padding-right: 600px;
    padding-top: 10px;
    font-size: 24px;
    line-height: 30px
}

footer {
    text-align: center;
    padding: 20px;
    color: #000000;
    border-top-style: solid;
    border-width: 3px;
    border-color: gainsboro;
    background-color: #ffffff;
}
