@import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Rufina:400,700&display=swap');

body {
    background-color: #F8F9F9;
    color: #212121;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    font-family: 'Rufina', serif;
}

.wrapper {
    height: 100%;
}

h1 {
    padding-top: 20px;
    padding-right: 10px;
    margin-top: 60px;
    margin-bottom: 150px;
    text-align: right;
    font-size: 95%;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #212121;
    text-decoration: none;
}

h1 a {
    color: #212121;
    text-decoration: none;
}

h1 a:hover {
    color: #977942;
}

header {
    background-color: #F8F9F9;
    float: left;
    width: 20%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 90;
}

header a img {
    width: 95%;
    vertical-align: bottom;
    margin: 10px;
}

nav {
    text-align: right;
    padding-right: 20px;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 20px;
    margin-bottom: 150px;
}

nav ul {}

nav ul li {
    line-height: 50px;
}

nav ul li a {
    color: #212121;
    text-decoration: none;
}

nav ul li a:hover {
    color: #977942;
}

.index {
    background: url(../images/churchillhouse.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contentpage {
    background: url(../images/churchillhousetwo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    min-height: 100vh;
}

h2 {
    text-align: right;
    color: #977942;
    padding-right: 10%;
    font-size: 185px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    text-align: right;
    color: #F8F9F9;
    font-size: 36px;
    padding-top: 190px;
    padding-right: 10%;
    padding-bottom: 200px;
}

h4 {
    text-align: left;
    color: #977942;
    padding-top: 260px;
    margin-left: 21%;
    font-size: 70px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main p {
    text-align: justify;
    color: #F8F9F9;
    padding-left: 21%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 30px
}

main p a {
    text-decoration: underline;
    color: #F8F9F9;

}

.contentlist {
    text-align: justify;
    color: #F8F9F9;
    padding-left: 21%;
    padding-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px;
    line-height: 30px
}

.gallery {
    position: static;
    margin-left: 21%;
}

.gallery img {
    border-style: solid;
    border-width: 3px;
    border-color: #977942;
    max-width: 100%;
    display: inline;
    height: 16vw;
    width: auto;
    margin-top: 10px6;
    margin-bottom: 20px;
}

.gallery2 {
    position: static;
    margin-left: 21%;
}

.gallery2 img {
    border-style: solid;
    border-width: 3px;
    border-color: #977942;
    max-width: 100%;
    display: inline;
    height: 27.5vw;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.portrait {
    margin-left: 21%;
}

.portrait img {
    margin-left: 20px;
    margin-right: 20%;
    float: right;
    border-style: solid;
    border-width: 3px;
    border-color: #977942;
}

.drawings {
    margin-left: 21%;
}

.drawings img {
    height: 18vw;
    border-style: solid;
    border-width: 3px;
    border-color: #977942;
}

footer {
    z-index: 100;
    text-align: center;
    padding: 50px;
    color: #ffffff;
    border-top-style: solid;
    border-width: 3px;
    border-color: gainsboro;
    background-color: #977942;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}
